<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About <strong>Anna's</strong> Education</h1>
    <h2>These are my <em>favorite</em> classes</h2>
    <!-- first heading with favorite classes I've taken-->

    <ol>
        <li>BMGT301</li>
        <li>BMGT380</li>
        <li>CCJS105</li>
        <li>BMGT367</li>
    </ol>

<p>Some <em>interests</em> I've had during my time at <strong>University of Maryland</strong></p>

    <ul>
        <li>Playing Soccer</li>
        <li>Intramural Basketball</li>
        <li>Python Coding</li>
        <li>Football Games</li>
    </ul>

    <h2>Classes I've taken in the past </h2>
    <!-- Second heading with classes I've taken-->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT408V</td>
                <td>Spring 2023</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT301</td>
                <td>Fall 2022</td>
            </tr>
        </table>
        <!-- Final requirements of the assignment-->
        <p>Here is an image of the school I took these classes in</p>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
             width="267" height="72" alt="Smith Logo">

        <p>A link to<a href="/hello"> my first HTML Page</a>.</p>
<p>My <strong>favorite</strong> Website<a href="https://www.instagram.com/"> Instagram</a>.</p>
        <p>Open my second favorite Website in a new tab<a href="https://www.freepeople.com/?brand-switch=1&ref=tab&_gl=1%2a9y942f%2a_up%2aMQ..&gclid=CjwKCAiAlcyuBhBnEiwAOGZ2S_iqBPY5Csvw39FUEt_CrHUvKLacDUGvFJ7wXxBAoANpV7oqrYWwwxoCx_oQAvD_BwE&gclsrc=aw.ds" target="_blank"> Free People</a>.</p>

</body>
</html>